<!-- 
<script type="text/javascript" src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script type="text/javascript" src="{{ '/assets/js/variables.js' | prepend: site.baseurl }}"></script>
-->

<script type="text/javascript" src="{{ '/javascript/vendor/sweetscroll.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ '/javascript/src/app.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ '/javascript/src/paginator.js' | prepend: site.baseurl }}"></script>

</body>

</html>