$color-primary: #0076b1;
$color-light: #2D8EBF;
$color-dark: #00547E;
$color-white: #fafafa;
$color-black: #292B33;

$font-nunito: 'Nunito', sans-serif;

$size-navbar: 80px;
$size-transition: 165px;

$z-index-navbar: 500;

$breakpoint-m: 1024px;
$breakpoint-s: 768px;
$breakpoint-xs: 500px;

$default-card-gap: 10px;
$default-card-size: 350px;
$default-card-offset: 40px;

$boxshadow-large: box-shadow(300);
$boxshadow-medium: box-shadow(500);
$boxshadow-small: box-shadow(800);