$color-primary: #0076b1;
$color-light: #fafafa;
$color-dark: #353535;

$font-nunito: 'Nunito', sans-serif;

$breakpoint-m: 1024px;
$breakpoint-s: 768px;
$breakpoint-xs: 500px;

// $defaultgap: 10px;
// $defaultsize: 350px;
// $defaultoffset: 40px;

// $smallgap: 5px;
// $smallsize: 280px;
// $smalloffset: 20px;

// $biggap: 20px;
// $bigsize: 400px;
// $bigoffset: 80px;
