<article class="article">

    <img class="article__thumb" src="/assets/thumbs/{{article.thumb}}">

    <div class="article__content">

        <div class="article__wrapper">

            <h3> {{ article.title }} </h3>

            <time> {{ article.date | date_to_string }} </time>

            <p> {{article.content | strip_html | strip_newlines | truncate: 230 }} </p>

            <div class="article__actions">
                <a href="{{ site.baseurl }}{{ article.url }}">
                    <i class="fas fa-angle-double-right"></i>
                </a>
            </div>

        </div>

    </div>

</article>