<section id="article-paginator">
    <div class="article-paginator__wrapper">
        {% if paginator.previous_page %}
            <a onclick="navigateArticlePage('/articles/')" class="article-paginator__button">
                <i class="fas fa-angle-double-left"></i>
            </a>
            <a onclick="navigateArticlePage('{{paginator.previous_page_path}}')" class="article-paginator__button">
                <i class="fas fa-angle-left"></i>
            </a>
        {% else %}
            <div class="article-paginator__mock"></div>
            <div class="article-paginator__mock"></div>
        {% endif %}

        <span class="article-paginator__info"> 
            page {{paginator.page}} of {{paginator.total_pages}} 
        </span>

        {% if paginator.next_page %}
            <a onclick="navigateArticlePage('{{paginator.next_page_path}}')" class="article-paginator__button">
                <i class="fas fa-angle-right"></i>
            </a>
            <a onclick="navigateArticlePage('/articles/{{paginator.total_pages}}/')" class="article-paginator__button">
                <i class="fas fa-angle-double-right"></i>
            </a>
        {% else %}
            <div class="article-paginator__mock"></div>
            <div class="article-paginator__mock"></div>
        {% endif %}
    </div>
</section>