#animated-presentation {
    width: 100vw;
    height: calc(100vh - #{$size-navbar} + #{$size-transition});
    position: relative;
    overflow: hidden;

    .animated-presentation__presentation {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% - #{$size-transition});

        .animated-presentation__wrapper {
            width: 100%;
            height: 100%;
            position: relative;
            background-color: $color-white;
        }
    }

    .animated-presentation__transition {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: $size-transition;
        background-color: $color-primary;
    }
}
