#nav-bar{
    width: 100vw;
    height: $size-navbar;
    background-color: $color-primary;
    box-sizing: border-box;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: $z-index-navbar;

    .logo{
        width: 90px;

        img {
            width: 100%;
            height: auto;
        }
    }

    .menus {
        display: flex;
        justify-content: space-between;
        width: 500px;

        .item{
            color: $color-white;
            text-decoration: none !important;
        }
    }
}