{% include standards/head.html %}

{% include components/nav-bar.html %}

{% include components/animated-presentation.html %}

{% capture banner_treasure_chest_logo %}
{{ '/assets/svg/sap-treasure-chest.svg' | prepend: site.baseurl }}
{% endcapture %}

{% capture banner_sap_silver_logo %} 
{{ '/assets/img/sap-silver-partner.png' | prepend: site.baseurl }}
{% endcapture %}

{% 
    include components/banner-subtitle-redirect.html 
    title="Welcome to vaees!"
    subtitle="The code is our treasure!" 
    img=banner_treasure_chest_logo
    path="https://en.vaees.com/contact/"
    button="Send a message"
    description="Ahoy! We are an SAP Silver Partner and we are day to day supporting consulting in several companies, developing SAP fiori applications, SAP HANA cloud, neo and cloud foundry environments, among others. We help to identify and develop important automations for your organization! Send us a message, we're cool!"
%}

{% 
    include components/banner-subtitle-redirect.html
    subtitle="SAP silver partner!" 
    img=banner_sap_silver_logo
    path="https://www.vaees.com/solutions/"
    button="Check out"
    description="We sail with experienced and competent programmers for organizations that care about the quality of our products. With a wide range of client companies, we work every day to improve our technologies and maturity. Check out our solutions to see what we can do for you!" 
%}

{% include components/banner-request-demo.html %}

<!-- {% include components/animated-sap-badge.html %} -->

{% include components/banner-article.html %}  

{% include components/footer.html %}

{% include standards/footer.html %}

